<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Newrelic Record details</title>
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #659EC7;
    color: black;
}
</style>
</head>
<body>
   <h1>Newrelic Record details </h1>
    <table id="customers">
    <tr>
       {% for x in colmn %}
            <th>{{ x }}</th>
       {% endfor %}
    </tr>
    {% for row in data %}
        <tr>
        {% for d in row %}
             <td>{{ d }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>
